@import 'tailwindcss';
@plugin './hero.ts';

/* Ensure Tailwind scans this app's files */
@source "./**/*.{js,ts,jsx,tsx,mdx}";
@source "../lib/components/**/*.{js,ts,jsx,tsx,mdx}";

/* Scan HeroUI theme from this app's node_modules */
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";


